
#map_div{
    height: 100vh;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
img{
 
    position: absolute;
    top: 20%;
    left: 50%;
    width: 456px;
    height: 330px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);

}
.widget-code {
    display: block;
    height: 18px;
    left: 6px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 6px;
    width: 18px;
}
.setContent{
    margin: 0;
    padding: 0;
}
.leaflet-tooltip.no-background{
    background: transparent;
    border: none;
    box-shadow: none;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

::-webkit-scrollbar{
    width: 10px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } 
   
  ::-webkit-scrollbar{
      display: contents;
  }


   
/* Style the close button (span) */
.close {
    color: rgb(100, 97, 97);
    cursor: pointer;
    position: absolute;
    top: 120%;
    right: 5%;
    z-index: 100;
    visibility: hidden;
    
  }
  
  .close:hover {color: rgb(100, 97, 97);}

  @media only screen and (max-width: 765px) {
    /* For mobile phones: */
    .close{
        visibility: visible;
        position: absolute;
        top: 100%;
        right: 5%;
        padding-bottom: 30px;

    }
    .myimage{
        position: absolute;
        top: 32%;
        left: 50%;
        width: 456px;
        height: 375px;
        padding-bottom: 100px;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }
  }
  
  @media only screen and (max-width: 470px) {
    /* For mobile phones: */
    .close{
        visibility: visible;
        position: absolute;
        top: 120%;
        right: 5%;
        padding-bottom: 30px;

    }
  }
  
 
  